#login{
	float: right; padding: 15px;
	text-align: right;
	font-family: Georgia;
	width:960px;

}

#nav{
	float: left; 
	text-align: left;
	font-family: Georgia;
	margin-right: 200px;
  

}

#content{
	float: right; 
	text-align: center;
	font-family: Georgia;
	width: 600px;
	

}

html{
	background-color: #C0C0C0;
}

#title{
	float: center;
	font-family: Georgia;
	text-align: center;

}
