<html>
<head>
  <title>{% block title %}Jreynolds - Tournament{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>

<body><div id="title">

<h1>CS Basketball Tournament</h1>

{% block header %}
{% endblock %}
</div>

<div id="login"><a href="/site04">Login</a></div>

<div id="nav">

	<ul> 
	<li><a href="/"> Home </a></li>
	<li><a href='/site01'>Rules</a></li>
	<li><a href='/site02'>Picks</a></li>
	<li><a href='/site03'>League</a></li>
	</ul>

</div>


{% block content %}
<div id="content">

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</div>

{% endblock %}


</body>

<div id="footer">
	<footer>
	  <p>Site by: Josh Reynolds</p>
	  <p>Contact information: <a href="mailto:joshua.reynolds@cs.olivetcollege.edu">
	  joshua.reynolds@cs.olivetcollege.edu</a></p>
	</footer>
</div>

</html>
